<div>
  <strong>{{ title }}</strong><br/>
  <strong>{{ 'Premise name'|t({}, {'context': 'grants_premises'}) }}</strong>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <strong>{{ 'Postal code'|t }}</strong>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <strong>{{ 'City owns the property'|t({}, {'context': 'grants_premises'}) }}</strong>
  <br/>
  ▢ {{ 'Yes'|t }}<br/>
  ▢ {{ 'No'|t }}
</div>
