<div>
  <h4 class="print-label">{{ element['#title'] }}</h4>
  <h4 class="print-label">{{ 'Premise name'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <h4 class="print-label">{{ 'Postal code'|t }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <h4 class="print-label">{{ 'City owns the property'|t({}, {'context': 'grants_premises'}) }}</h4>
  ▢ {{ 'Yes'|t({}, {'context': 'grants_premises'}) }}<br/>
  ▢ {{ 'No'|t({}, {'context': 'grants_premises'}) }}
</div>
