<div>
  <h4 class="print-label">{{ element['#title'] }}</h4>
  <h4 class="print-label">{{ 'Street address'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <h4 class="print-label">{{ 'Postal code'|t }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <h4 class="print-label">{{ 'City'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <h4 class="print-label">{{ 'Rent'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <div class="webform-element-description">
    {{ 'EUR per month'|t({}, {'context': 'grants_premises'}) }}
  </div>
  <h4 class="print-label">{{ 'Lessor\'s name'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <h4 class="print-label">{{ 'Lessor\'s contact information'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <div class="webform-element-description">
    {{ 'Email and/or telephone number'|t({}, {'context': 'grants_premises'}) }}
  </div>
  <h4 class="print-label">{{ 'Purpose of use'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <div class="webform-element-description">
    {{ 'For example, an office, storage, gathering or clubs'|t({}, {'context': 'grants_premises'}) }}
  </div>
  <h4 class="print-label">{{ 'How many days per week is the facility used?'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
  <h4 class="print-label">{{ 'How many hours per day is the facility used?'|t({}, {'context': 'grants_premises'}) }}</h4>
  <div class="hds-text-input__input-wrapper">
    <div class="hide-input form-text hds-text-input__input webform_large" type="text">
      &nbsp;
    </div>
  </div>
</div>
