{% if auth == 'auth' %}
  {% set authClass = 'grants-service-page-block--auth' %}
  {% set title = 'Create new application'|t({}, {'context': 'grants_handler'}) %}
  {% set icon = 'info' %}
{% elseif auth == 'not_open' %}
  {% set authClass = 'grants-service-page-block--anon' %}
  {% set title = 'Application is not open'|t({}, {'context': 'grants_handler'}) %}
  {% set icon = 'alert' %}
{% else %}
  {% set authClass = 'grants-service-page-block--anon' %}
  {% set icon = 'alert' %}
{% endif %}
<div class="grants-service-page-block {{ authClass }}">
<h3><span class="hel-icon hel-icon--{{ icon }}-circle hel-icon--size-s" aria-hidden="true"></span> {{ title }}</h3>
<p>{{ text }}</p>
{{ link }}
{% if webformLink %}
    <a href="{{ webformLink }}" class="hds-button hds-button--supplementary">
      <span class="hds-button__label">{{ "Preview the application"|t({}, {'context': 'grants_preview_link'}) }}</span>
    </a>
{% endif %}
</div>
