<div class="container">

  <div 
    data-status="{{ status }}" 
    class="hide-spinner application-list__item--status application-list__item--status--{{ status|lower }} applicationStatusCheckable hdbt-react-form__form-status" 
    data-application-number="{{ submission_id }}"
  >
    {{ statusLocalized }}
  </div>
  <div class="hds-loading-spinner hds-loading-spinner--small">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="application-list__item--error">
    <span class="hel-icon hel-icon--alert-circle hel-icon--size-s" aria-hidden="true"></span>
    <span aria-hidden="true" class="application-list--error-text">{{ 'There has been an error in updating application status, please reload the page.'|t({}, {'context': 'grants_handler'})}}</span>
  </div>

  <div class="webform-submission__application_id">
    <h2 class="webform-submission__application_id--header">{{ "Application number"|t }}</h2>
    <div class="webform-submission__application_id--body">{{ submission_id }}</div>
  </div>

  {% include 'grants-application-view-messages.html.twig' %}

  {% include 'grants-application-view-status-information.html.twig' %}

  {% if print_application_link %}
    <a href="{{ print_application_link }}" class="hds-button hds-button--supplementary">
      {{ 'Print application'|t({}, {'context': 'grants_handler'}) }}
    </a>
  {% endif %}

  <h2>{{ 'Application'|t }}</h2>
  <p>{{ 'Here you can see details of your application'|t }}</p>

  {{ attach_library('hdbt_subtheme/forms-app') }}
  <div id="grants-react-form">
  </div>
</div>
