<section class="prh-content-block">
  <h3 class="prh-content-block__title">{{title}}</h3>
    <p>{{ "The indicated information has been retrieved from the register of the Finnish Patent and Registration Office (PRH), and changing the information is only possible in the online service in question."|t({}, {'context': 'grants_profile'}) }}</p>
    {% if applicant_info_upper %}
      <div class="prh-content-block__content-row">
        {% for item in applicant_info_upper %}
          <div class="prh-content-block__item">
            <div class="prh-content-block__item__label">{{ item.label }}</div>
            <div class="block__item__value">{{ item.value }}</div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if applicant_info_lower %}
      <div class="prh-content-block__content-row">
        {% for item in applicant_info_lower %}
          <div class="prh-content-block__item">
            <div class="prh-content-block__item__label">{{ item.label }}</div>
              <div class="prh-content-block__item-value">{{ item.value }}</div>
            </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if link %}
      <div class="prh-content-block__content-row prh-content-block__content-row__link">
        {{ link }}
      </div>
    {% endif %}
</section>