<div class="grants-profile--basicinfo">
  <div class="container">
    <h3>{{ "Basic details"|t({}, {'context': 'Yksityishenkilön asiointi'}) }}</h3>
    <div class="grants-profile-prh-info">
      <p>{{ "The basic details have been retrieved from your Helsinki profile. The Helsinki profile retrieves the information, apart from your email address, from the official population information system and it cannot be edited."|t({}, {'context': 'grants_profile'}) }}</p>

      <p>{{ "You can update your email address in your Helsinki profile. The updated email address will be added to the basic details after you have first confirmed the update with a confirmation message sent to your email. You will see the updated email address when you log into the Grants service again."|t({}, {'context': 'grants_profile'}) }}</p>
    </div>
    <hr />
    <dl class="grants-profile--wrapper">
      <div class="grants-profile--wrapper-item">
        <dt><strong>{{ "First name"|t }}</strong></dt>
        <dd class="grants-profile--item grants-profile-company-name">{{ myProfile.verifiedPersonalInformation.firstName }}</dd>
      </div>
      <div class="grants-profile--wrapper-item">
        <dt><strong>{{ "Last name"|t }}</strong></dt>
        <dd class="grants-profile-item">{{ myProfile.verifiedPersonalInformation.lastName }}</dd>
      </div>
      <div class="grants-profile--wrapper-item">
        <dt><strong>{{ "Social security number"|t({}, {'context': 'Yksityishenkilön asiointi'}) }}</strong></dt>
        <dd class="grants-profile-item">{{ myProfile.verifiedPersonalInformation.nationalIdentificationNumber }}</dd>
      </div>
      <div class="grants-profile--wrapper-item">
        <dt><strong>{{ "Email"|t({}, {'context': 'Yksityishenkilön asiointi'}) }}</strong></dt>
        <dd class="grants-profile-item">{{ myProfile.primaryEmail.email }}</dd>
      </div>
    </dl>
    <hr />
    {% if editHelsinkiProfileLink %}
      {{ editHelsinkiProfileLink }} ({{ "The link opens in a new tab"|t({}, {'context': 'grants_profile'}) }})
    {% endif %}
    <dl>
      <div>
        {{ updatelink }}
      </div>
    </dl>
  </div>
</div>
