<div class="container">
  {{ form.status_messages}}
  <h2>{{ "Association information"|t({}, {'context': 'grants_profile'}) }}</h2>
  <p class="grants-profile--infotext">{{ "To apply for grants, the community data must be completed. When you submit a grant application, the information you have provided will be filled in automatically."|t({}, {'context': 'grants_profile'}) }}</p>
  <div class="grants-profile">
    {% include '@grants_profile/components/prh-content.twig' with {
      title: "Community official information"|t({}, {'context': 'grants_profile'}),
      applicant_info_upper: [
        {
          label: "Name of association"|t({}, {'context': 'grants_profile'}),
          value: profile.companyName,
        },
        {
          label: "Business ID"|t({}, {'context': 'grants_profile'}),
          value: profile.businessId,
        },
        {
          label: "Date of registration"|t({}, {'context': 'grants_profile'}),
          value: profile.registrationDate|date('d.m.Y'),
        },
      ],
      applicant_info_lower: [
        {
          label: "Municipality where the association is based (domicile)"|t({}, {'context': 'grants_profile'}),
          value: profile.companyHome,
        },
      ],
      link: form.updatelink,
    } %}
    <h3 class="info-grants">{{ "Add association information"|t({}, {'context': 'grants_profile'}) }}</h3>
    <div class="grants-profile--extrainfo grants-profile--form">
      {{ form|without('updatelink', 'status_messages') }}
    </div>
  </div>
</div>

